<% if @people.errors.any? %>
  <div id="error_explanation">
    <p><%= pluralize(@people.errors.count, "error") %> prohibited from being saved:</p>
 
    <ul>
    <% @people.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= simple_form_for @people, :html => { :multipart => true }  do |f| %>
<%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a Department") %>
<%= f.file_field :directory_img %>
<%= f.input :first_name, label: "First Name" %>
<%= f.input :last_name, label: "Last Name" %> 
<%= f.input :title, label: "Job Title" %>
<%= f.input :email %>
<%= f.input :previous, label: "Previous Company" %>
<label> Reports To</label>
<br>
<%= select_tag("Reporting To", options_from_collection_for_select(@person, "id", "first_name"), :prompt => "Select Manager")%>
<br>
<br>
<%= f.input :office_location, label: "Office Location" %>
<%= f.input :seating_zone, label: "Seating Zone" %>
<%= f.input :fun_fact_one, label: "Fun Fact One" %>
<%= f.input :fun_fact_two, label: "Fun Fact Two" %>
<%= f.input :fun_fact_three, label: "Fun Fact Three" %>
<%= f.button :button, :class => 'btn-custom2' %>
<%= link_to "Back", root_path, :class => 'btn-custom2' %>

<% end %>




