   <center><h1 class="current-department"><%= params[:category] %></h1></center>

<% if @people.count == 0 %>

    <h3> There are no people currently in this department.</h3>
    <% else %>
     <% @people.each do |person| %>
       <% end %>
<% end %>


<div class="container">
  <h1>Directory</h1>
  <p>List of empoloyees</p>            
  <table class="table table-hover">
    <thead>
      <tr class="success">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>

    <% @people.each do |person| %>
      <tr class="info">
          <td><%= link_to person.first_name, directory_path(person) %></td>
          <td><%= link_to person.last_name, directory_path(person) %></td>
          <td><%= person.email %></td>
          <td><%= person.office_location %></td>
      </tr>
     <% end %>
    
    </tbody>
  </table>
</div>





