<!DOCTYPE html>
<html>
<head>
  <title>GreenhouseDirectory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<body>

	<nav class="navbar navbar-inverse">
		<div class="container">

			<div class="navbar-header">
			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
         	 </button>

			 <a href="/"><%= image_tag 'greenhouse_logo.png', :class => "navbar-brand logo" %></a>
			<%= link_to "Greenhouse Directory", root_path, class: "navbar-brand" %>

			</div>


				<div class="navbar-form navbar-left" role="search">
				  <%= form_tag directories_path, :method => 'get', class: 'input-group'  do %>
				    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'First Name', id:"searchInput" %>
				    <span class="input-group-btn">
				      <%= submit_tag "search", class: "btn btn-default", id:"searchbutton" %>
				    </span>
				  <% end %>
				</div>

		
			<ul class="nav navbar-nav pull-left">

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"aria-expanded="false">Department<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu pull-left">
						<% Category.all.each do |category| %>
						<li class="<%= 'active' if params[:category] == category.name %>">
						<%= link_to category.name, directories_path(category: category.name), class: "Link" %>
						</li>
						<% end %>
					
					</ul>
				</li>
			</li>

				<% if user_signed_in? %>
					<li><%= link_to "Add Employee", new_directory_path %></li>
				<% end %>

				<ul class="nav navbar-nav">
					<% if user_signed_in? %>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
					<% else %>
					<li><%= link_to "Sign Up", new_user_registration_path %></li>
					<li><%= link_to "Sign In", new_user_session_path %></li>
				<% end %>

			</ul>
		</div>
	</nav>


<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="container">
		<footer id="footer">
		<p class="navbar-text pull-left">&copy; 2016 Powered by Salman & LV &middot; made with <span id="heart">&hearts;</span></p>

			<a href="#" class="navbar-text pull-right">Back to top</a>
			
			<ul class="nav navbar-nav pull-left">
			<%= link_to user_omniauth_authorize_path(:facebook) do %>
			<div class="btn-md btn- btn-social btn-facebook id" id="facebook"> 
        	<i class="fa fa-facebook"></i> Sign in with Facebook
			</div>
			<% end %>
			</ul>

			<ul class="nav navbar-nav pull-left">
			<li><%= link_to 'About Us', about_us_path %></li>
			<li><%= link_to 'Contact Us', new_contact_path %></li>
			</ul>

		</footer>
		

	</div>

</div>
	<div class="poster-wrapper">
		<body background="https://cdn2.hubspot.net/hubfs/372554/Greenhouse_Icons_and_Logos/greenhouse-og-thumb.png"></body>
	</div>
	<div>


 	<% if notice %>
 	<div id="notice_wrapper">
	 	<p class="notice"><%= notice %></p>
 	</div>
 	<% elsif alert %>
 	<div id="notice_wrapper">
    <p class="alert"><%= alert %></p>
    </div>
    <% end %>
   

 	</div>


 		<div class="container">


     <%# if user_signed_in? %>
    	<%#if current_user.errors.any? %>
			<%# current_user.errors.full_messages.each do |message| %>
				<%#= message %>
	    	<%# end %>
    	<%# end %>
    <%#end %>


<%= yield %>

</div>


</body>
</html>
